<?xml version="1.0"?>
<configuration>
  <!--
    web.config の変更点の説明については、http://go.microsoft.com/fwlink/?LinkId=235367 を参照してください。

    次の属性を <httpRuntime> タグに設定できます。
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="JPG.KESAIJAG00.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
    <xhtmlConformance mode="Legacy"/>
  </system.web>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
  <applicationSettings>
    <JPG.KESAIJAG00.Settings>
      <setting name="KESAIJAG00_KETAISYG00KETAISYW00_KETAISYW00" serializeAs="String">
        <value>http://knapsv/JPGAP/KE/KETAISYW/KETAISYW00/KETAISYW00.asmx</value>
      </setting>
      <setting name="KESAIJAG00_KESAIJAG00KESAIJAW00_KESAIJAW00" serializeAs="String">
        <value>http://knapsv/JPGAP/KE/KESAIJAW/KESAIJAW00/KESAIJAW00.asmx</value>
      </setting>
    </JPG.KESAIJAG00.Settings>
  </applicationSettings>
</configuration>