.c-rNM-nopr {
	display:none;FONT-SIZE: 10pt; HEIGHT: 20px; BACKGROUND-COLOR: gainsboro
}
.c-fI-nopr {
	display:none;FONT-SIZE: 10pt; IME-MODE: active; HEIGHT: 20px; BACKGROUND-COLOR: white
}
.nopr {
	display:none
}
.bt-JIK {
	display:none
}
.bt-KS {
	display:none
}
.bt-RNW {
	display:none
}
.bt-LNG {
	display:none
}
