<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="MSJIGJAG00.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <!--
    web.config の変更点の説明については、http://go.microsoft.com/fwlink/?LinkId=235367 を参照してください。

    次の属性を <httpRuntime> タグに設定できます。
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.6.1"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
    <httpRuntime/>
    <xhtmlConformance mode="Legacy"/>
  </system.web>
  <applicationSettings>
    <MSJIGJAG00.My.MySettings>
      <setting name="MSJIGJAG00_MSJIGJAG00CCSQL_CSQL" serializeAs="String">
        <value>http://knapsv/JPGAP/CO/COCOMONW/COCOMONW00/CSQL.asmx</value>
      </setting>
      <setting name="MSJIGJAG00_MSJIGJAG00MSJIGJAW00_MSJIGJAW00" serializeAs="String">
        <value>http://knapsv/JPGAP/MS/MSJIGJAW/MSJIGJAW00/MSJIGJAW00.asmx</value>
      </setting>
    </MSJIGJAG00.My.MySettings>
  </applicationSettings>
</configuration>